body {
	height: 100%;
	width: 100%;
	background-image: url('../img/bg-auth\ \(5\).jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,.65);
	/* font-family: 'Raleway', sans-serif; */
	/* font-family: 'Pacifico', cursive; */
}

.auth-form {
	position: absolute;
	width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, .3);
	padding: 15px;
}

.login-icon {
	width: 50px;
	position: absolute;
	left: 50%;
	transform: translate(-65%, -100%);
	opacity: .4;
}

.btn-auth {
	border: 1px solid #eaeaea;
	color: #eaeaea;
}

.btn-auth:hover {
	background-color: rgba(0, 0, 0, .2);
	color: #eaeaea;
}

.form-input {
	display: block;
	width: 100%;
	background-color: transparent;
	border: unset;
	border-bottom: 1px solid #eaeaea;
	outline: unset;
}

.navbar-light .navbar-nav .nav-link, a {
	color: #fff;
}