@media (max-width: 768px){
    .profile img{
        margin-bottom: 20px;
        color: red;
    }
}

.profile-head img{
    max-width: 200px;
    max-height: 180px;
    border-radius: 100px;
}